.navbar .dropdown-menu {
  padding: 5px;
}
.navbar .dropdown-menu li{
   cursor: pointer;
 }
.navbar .dropdown-menu li:hover{
  background: #ddd;
}

.navbar-inverse .brand {
  color:#FFF;
  font-size:23px;
  padding:4px 20px;
}

.navbar .btn-navbar {
  float: left;
}

.navbar-inverse .btn-navbar {
  background:none;
}

.navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:focus, .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active, .navbar-inverse .btn-navbar.disabled, .navbar-inverse .btn-navbar[disabled] {
  background-color: #287EC7;
  color: #999;
}

.navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .nav > li > a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus {
  background-color: #ccc;
  color:#FFF;
}

.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
  color: #FFF;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
  background-color: #509DDC;
  color: #FFFFFF;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
  background-color: transparent;
  color: #fbb450;
}

.navbar-inverse .navbar-inner {
  background: #2989d8;
  background: linear-gradient(to bottom, #2989d8 0%,#1e5799 100%);
}

.navbar .navSearch {
  background: url("/img/icons.png") no-repeat scroll 6px -90px, linear-gradient(to bottom, #EDEDED 0%, #FFFFFF 100%) repeat scroll 0 0 transparent;
  border-radius: 4px 0px 0px 4px;
  box-shadow: 0 1px 2px #666666 inset;
  float: left;
  font-size: 16px;
  height: 30px;
  margin: 0px 0px 0px 5px;
  padding: 5px 5px 5px 30px;
  border:none;

}
.navbar .typeahead {
  font-family: arial;
}

.navbar .iconGroup .divider{
  width:1px;
  height:40px;
  display:inline-block;
  background: #4096ee;
  background: linear-gradient(to bottom,  #4096ee 0%,#7abcff 100%);
}

.navbar .nav .navMapIcon{
  background: url("/img/topnav_icon_maps.png") no-repeat 15px 8px transparent;
  display:block;
  height: 40px;
  width: 45px;
  padding:0px;
}

.navbar .nav .navCartIcon{
  background: url("/img/topnav_icon_cart.png") no-repeat 14px 8px transparent;
  display:block;
  height: 24px;
  width: 24px;
  padding:8px 15px;
}

.navbar .white-caret {
  border-top-color: #FFF;
  border-bottom-color: #FFF;
  margin-top:10px;
}

.navbar .accountNav{}
.navbar .accountNav ul li{
   list-style: none;
}
.navbar .accountNav .accountDetails{
  background: #FFF;
  height: 300px;
  overflow: auto;
}
.navbar .accountNav .accountDetails h3, .navbar .accountNav .accountDetails h5{
  margin:0px;
}

.navbar .accountNav .accountDetails .myItemList .myItem{
  padding: 5px 0px;
  border-top: #ccc 1px solid;
  margin:0px;
}
.navbar .accountNav .accountDetails .myItemList .myItem:last-child{
  border-bottom: #ccc 1px solid;
}
.navbar .accountNav .accountDetails .myItemList .myItem .itemImage div{
  width: 40px;
  height: 40px;
  border: #333 1px solid;
}
.navbar .accountNav .accountDetails .myItemList .myItem .itemPrice{
  text-align: right;
}

.navbar .cartNav .cartDetails{
  background: #FFF;
  height: 350px;
  overflow: auto;
}

.navbar .cartNav .cartDetails .myItem{
  padding: 5px 0px;
  border-top: #ccc 1px solid;
  margin:0px;
}
.navbar .cartNav .cartDetails .myItem:last-child{
  border-bottom: #ccc 1px solid;
}

.navbar .cartNav .cartDetails .myItem .itemImage div{
  width: 70px;
  height: 70px;
  border: #333 1px solid;
}
.navbar-fixed-top {
  margin-bottom: 0;
}
