<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="deptNavButton btn btn-navbar pull-left">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand pull-left" href="./index.html"></a>



            <ul class="nav iconGroup pull-right">
                <li class="divider"></li>
                <li><a href="#" class="navMapIcon"></a></li>
                <li class="divider"></li>
                <li><a href="#" class="navAccountIcon">Account <span class="caret white-caret"></a></li>
                <li class="divider"></li>
                <li><a href="#" class="navCartIcon"></a></li>
            </ul>

            <div class="deptNav nav-collapse collapse">
                <ul class="nav">
                    <li class="active">
                        <a href="">Home</a>
                    </li>
                </ul>
            </div>

            <div class="cartNav nav-collapse collapse">
                <div class="container-fluid cartDetails">
                </div>
            </div>


        </div>
    </div>
</div>


<div class="container heroArea" style="height: 500px;">
  <h2><a href="#search">Go to search</a></h2>
</div>


<footer class="footer">
    <div class="container footerLinks">
        <div class="row">
          Footer goes here
        </div>
    </div>
</footer>

