
<div class="breadcrumb row-fluid">
  <p class="span4">&ldquo;Women&rsquo;s Dresses&rdquo;</p>
  <p class="span4 breadcrumb-results">1 Result</p>

</div>

<ul class="product-list">
  <li class="product">
    <img class="product-image" alt="" src="/img/temp/search-product.jpg">
    <ul class="colors">
      <li><a style="background: #E67066" href="">Red</a></li>
      <li><a style="background: #556BA7" href="">Blue</a></li>
      <li><a style="background: #47A77C" href="">Green</a></li>
    </ul>
    <p class="price">$50<span class="decimal">.99</span></p>
    <p class="old-price">was <s>$80.99</s></p>
    <h3 class="product-title">Faded Glory Women&lsquo;s Dress</h3>
    <div class="stars">
      <span class="star rated"></span>
      <span class="star rated"></span>
      <span class="star rated"></span>
      <span class="star rated"></span>
      <span class="star"></span>
      <span>(87)</span>
    </div>
  </li>
</ul>
